/Dashboard/nbproject/private/
/GridLayout/nbproject/private/
/GridLayout/build/
/TestGauges/nbproject/private/
/TestGauges/build/
/SteelSeriesSamples/nbproject/private/
/SteelSeriesSamples/build/
/ParametersCalculator/nbproject/private/
/ParametersCalculator/build/
/ParametersCalculator/dist/
/AnythingConverter/nbproject/private/
/AnythingConverter/build/
/AnythingConverter/dist/